<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button (click)="makebob('bob')">Make Bob</button>
  <button (click)="getBobs()">Get Bobs</button>
  <div class="contatiner-fluid">
    <div class="row">
      <div class="col">
        <h1>Your gold is: {{ total }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Farm</h2>
        
        <button (click)="onButtonClickParam('Farm')">Use Farm!</button>
      </div>
      <div class="col">
        <h2>House</h2>
        <button (click)="onButtonClickParam('House')">Use House!</button>
      </div>
      <div class="col">
        <h2>Cave</h2>
        <button (click)="onButtonClickParam('Cave')">Use Cave!</button>
      </div>
      <div class="col">
        <h2>Casino</h2>
        <button (click)="onButtonClickParam('Casino')">Use Casino!</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Activities</h2>
        <ul>
          <li *ngFor="let activity of activities">{{activity}}</li>
        </ul>
      </div>
    </div>
  </div>
  </div>

<router-outlet></router-outlet>
